<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <title>News</title>
</head>
<body>
    <h1>Weather:</h1>
    <div id="box"></div>
<div id="box1"></div>
<div id="sun"></div>
<div id="deg"><%= (weathermap.main.temp - 273.15).toFixed(0) %>&deg </div>
<div id="day">
    <p class="place"><%= weathermap.name %></p>
    <p class="days"><%= weathermap.weather[0].main %></p>
    <p class="date">humidity <%= weathermap.main.humidity %>%</p>
</div>
    

   <h1>News List:</h1>
		<%if (news && news.length >0){ %>
	<table>
		 <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published At</th>
	<th>Image</th>
  </tr>
   <% for(var i=0; i < news.length; i++) { %>
        <tr>
          <td><%= news[i].title %></td>
          <td><%= news[i].description %></td>
		  <td><%= news[i].publishedAt %></td>
		  <td><img src="https://picsum.photos/50"></td>
        </tr>
     <% } %>  
    </table>
	<% } else { %> <p>
	No Record Found
	</p>
	<% } %>
</body>
</html>